*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 44rem;
    height: 54rem;
    align-items: center;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: turquoise;
    border-width: 2rem;
    border-style: solid;
    
}

.clearButton {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color: #64B255;
    justify-content: center;
    align-items: center;
    color: white;  
    border-style: groove;
    border-color: lightgrey;  

}

.numberButtons {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color: #64B255;
    justify-content: center;
    align-items: center;
    color: white; 
    border-style: groove;
    border-color: lightgrey; 
   

}

.readout {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 30rem;
    background-color: #64B255;
    justify-content: left;
    align-items: center;
    color: white;  
    border-style: groove;
    border-color: lightgrey;
   
}

.divideButton {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color:#82BF77;
    justify-content: center;
    align-items: center;
    color: grey;
    border-style: groove;
    border-color: lightgrey;
    
}

.multiplyButton {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color: #82BF77;
    justify-content: center;
    align-items: center;
    color: grey;
    border-style: groove;
    border-color: lightgrey;
    
}

.addButton {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color:#82BF77;
    justify-content: center;
    align-items: center;
    color: grey;
    border-style: groove;
    border-color: lightgrey;
    
}

.subtractButton {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color:#82BF77;
    justify-content: center;
    align-items: center;
    color: grey;
    border-style: groove;
    border-color: lightgrey;

    
}

.equalsButton {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
    background-color:#82BF77;
    justify-content: center;
    align-items: center;
    color: white;  
    border-style: groove;
    border-color: lightgrey;

}

